# 2020년 정리

In [22]:
import pandas as pd
import datetime

In [23]:
df = pd.read_csv('2020_01-05.csv', encoding='cp949')
df.head()

,대여일자,대여소번호,대여소,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2020-01-01,101,101. (구)합정동 주민센터,일일(회원),\N,AGE_002,1,0.00,0.00,0.0,29
1,2020-01-01,101,101. (구)합정동 주민센터,정기,\N,AGE_002,2,80.54,0.75,3240.0,52
2,2020-01-01,101,101. (구)합정동 주민센터,정기,F,AGE_002,1,72.07,0.75,3250.0,21
3,2020-01-01,101,101. (구)합정동 주민센터,정기,F,AGE_004,1,157.56,1.59,6860.0,46
4,2020-01-01,101,101. (구)합정동 주민센터,정기,M,AGE_002,1,39.99,0.23,990.0,5

In [24]:
# '대여일자', '대여소번호', '대여소'만 남기기
df = df[['대여일자', '대여소번호', '대여소']]
df.head()

         대여일자  대여소번호               대여소
0  2020-01-01    101  101. (구)합정동 주민센터
1  2020-01-01    101  101. (구)합정동 주민센터
2  2020-01-01    101  101. (구)합정동 주민센터
3  2020-01-01    101  101. (구)합정동 주민센터
4  2020-01-01    101  101. (구)합정동 주민센터

In [25]:
# '대여일자'를 날짜형으로 변환
df['대여일자'] = pd.to_datetime(df['대여일자'])
df.head()

        대여일자  대여소번호               대여소
0 2020-01-01    101  101. (구)합정동 주민센터
1 2020-01-01    101  101. (구)합정동 주민센터
2 2020-01-01    101  101. (구)합정동 주민센터
3 2020-01-01    101  101. (구)합정동 주민센터
4 2020-01-01    101  101. (구)합정동 주민센터

In [26]:
# '대여일자'사용 주차로 나누는 함수
def get_week(x):
    return x.week

In [37]:
df['대여일자'][880000]

Timestamp('2020-03-03 00:00:00')

In [34]:
get_week(df['대여일자'][880000])

10

In [38]:
# '대여일자'를 주차로 나누어 '주차' 열 생성
df['주차'] = df['대여일자'].apply(get_week)
df.head()

        대여일자  대여소번호               대여소  주차
0 2020-01-01    101  101. (구)합정동 주민센터   1
1 2020-01-01    101  101. (구)합정동 주민센터   1
2 2020-01-01    101  101. (구)합정동 주민센터   1
3 2020-01-01    101  101. (구)합정동 주민센터   1
4 2020-01-01    101  101. (구)합정동 주민센터   1

In [39]:
# 주차별 대여소별 대여건수
df_week = df.groupby(['주차', '대여소번호', '대여소']).size().reset_index(name='대여건수')
df_week.head()

   주차  대여소번호               대여소  대여건수
0   1    101  101. (구)합정동 주민센터    35
1   1    102   102. 망원역 1번출구 앞    79
2   1    103   103. 망원역 2번출구 앞    71
3   1    104   104. 합정역 1번출구 앞    78
4   1    105   105. 합정역 5번출구 앞    53